<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://robot_description/meshes/DAE/base/stand.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://robot_description/meshes/STL/base/stand.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="0 0 -0.333"/>
		<mass value="88"/>
		<inertia ixx="14.25" ixy="0" ixz="0.0245" iyy="78.78" iyz="0" izz="64.57" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
